<!-- app/views/user_mailer/otp.html.erb -->

<p>Dear <%= @user.name %>,</p>

<p>Your OTP is: <%= @otp %></p>

<p>Please enter this OTP to complete your authentication.</p>

<p>Thank you,</p>

<p>Your Team</p>